---
layout: default
title: Alex Willemsma
---
%section#home
  %a.anchor#home-a
  %h1 Alex Willemsma
%section#about-me
  %a.anchor#about-me-a
  %h2 About Me
  %p
    I am a world traveler, prop manipulator, web developer, and believer in magick, currently residing in Vancouver
    %abbr{title: "British Columbia"} B.C.
    Canada. I am excited to have a new home here  from which pursue a host of new projects, and from which to continue
    to travel, knowing I have a home to return to. This page is, to bring back some nearly forgotten web slang "my home
    page". Though it will contain a few paragraphs of information, the primary purpose of this page is to serve as a hub
    for links to more specific projects.
  %p
    Thus, without further ado, on to the interesting stuff!
%section#my-work
  %a.anchor#my-work-a
  %h2 My Work
  %p
    I primarily work as a freelance website developer, with the bulk of my experience being in writing Ruby and PHP 
    backend code. Please check out my 
    %a{href: "http://www.undergroundwebdevelopment.com", target: "_blank"} business site / resume 
    for the detailed breakdown.

    As a quick shoutout, some projects I have recently been or currently am involved with include:
    %ul
      %li
        %a{href: "http://coverallcrew.com/", target: "_blank"} Coverall Crew
      %li
        %a{href: "https://www.sweettoothrewards.com/", target: "_blank"} Sweet Tooth
      %li
        %a{href: "http://joatu.com/", target: "_blank"} JoatU

%section#for-fun
  %a.anchor#for-fun-a
  %h2 For Fun
  %p
    Travel has been my greatest and most rewarding hobby to date, and unfortunately has left little time or space 
    for many other pursuits. That said, it was while traveling that I discovered and developed my other major hobby,
    which is prop manipulation, specifically Poi Spinning. Earlier this summer I was able to attend a
    %a{href: "http://wwww.playpoi.com"} Play Poi
    retreat where I was privilaged to both learn a lot of new skills, but also able to meet a whole new crew of friends.
  %p 
    I will be including a video of myself Poi Spinning here shortly, but while I get that sorted out, here's an overview
    of the entire retreat!
  %iframe{class: "video-min-560 embed-responsive embed-responsive-16by9", src: "//www.youtube.com/embed/0fPmbjhQkl4?rel=0", allowfullscreen: true}
